
<div class="container">
    <div class="MainCard">
        <div class="MainCardLayer">
            <div class="MainCardContent">
                <div class="cardContentBox">
                   <div class="cardDesc">
                        <h1 class="MainCardTitle">Drones mejorados</h1>
                        <p class="MainCardParraf">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pulvinar libero. Etiam dapibus purus sed turpis ullamcorper ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse venenatis dolor non quam tincidunt, ac faucibus dolor feugiat.
                        </p>
                   </div>

                    <div class="rankingContent">
                        <div class="likesBox">
                            <div>
                                <span class="material-symbols-outlined">chat_bubble</span>
                                2000
                            </div>
                            <div>
                                <span class="material-symbols-outlined">thumb_up</span>   
                                200
                            </div>
                        </div>
                        <button class="seeMorebtn">Ver más</button>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</div>
