<div class="container">
    <h1>Revisar posteos</h1>
</div>

<div class="container">
    <div class="row">
        <app-card-new class="col"></app-card-new>
        <app-card-new class="col"></app-card-new>
    </div>
    <div class="row">
        <app-card-new class="col"></app-card-new>
        <app-card-new class="col"></app-card-new>
    </div>
    <div class="row">
        <app-card-new class="col"></app-card-new>
        <app-card-new class="col"></app-card-new>
    </div>
    <div class="row">
        <app-card-new class="col"></app-card-new>
        <app-card-new class="col"></app-card-new>
    </div>
</div>